html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

.controls {
  width: 20%;
  padding: 1rem;
  background: #14161a;
  color: #fff;
}

.controls input {
  border: none;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.map {
  width: 80%;
  height: 100vh;
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.officeAddress {
  border: 1px solid #dd137b;
  background: #dd137b2e;
  padding: 5% 3%;
}

ul {
  padding: 0;
}

.homesAddress {
  list-style-type: none;
  border: 1px solid aqua;
  background: #00ffff36;
  padding: 5% 3%;
  margin: 0.5rem 0;
}

hr {
  border: 1px solid aqua;
  margin: 2rem 0;
}

/* Phone Screen */

@media only screen and (max-width: 768px) {
  .controls {
    width: 100%;
  }
}
